@model ProjetoLojaVitrine.Models.Carrousel

@{
    ViewBag.Title = "ExcluirCarrousel";
}

<div class="form-actions no-color">
    <h3 class="p-3 mb-2 bg-danger" style="color:#0094ff">Deseja deletar o Carrousel ?</h3>
</div>

<div>
    <div class="col-md-3" style="margin-bottom:25px">
        <div class="thumbnail">
            <div class="image" style="margin-bottom:20px">
                <img class="img-responsive" src="@Model.ImagePah" width="400" />
            </div>

            <div class="addToCart text-right">

            </div>
        </div>
    </div>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div>
            @Html.LabelFor(x => x.Descricao)
            @Html.DisplayFor(x => x.Descricao, new { @class = "form-control" })
        </div>
    </div><br />

    <div>
        <p class="button ">
            <input type="submit" value="Deletar" class="btn btn-danger" />
        </p>
    </div>
}


@*<div>
        <h4>Carrousel</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Descricao)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descricao)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ImagePah)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ImagePah)
            </dd>

        </dl>

        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>*@
