@model IEnumerable<ProjetoLojaVitrine.Models.Categoria>
@{
    ViewBag.Title = "Lista de Categoria";
}

<h2>Lista de todas as Categorias</h2><br />

 <button class="btn btn-primary"><i class="glyphicon glyphicon-bitcoin">@Html.ActionLink("Add Categoria","Novo",new { @class = "control-label col-md-2" }) </i></button>

<table class="table table-hover table-responsive">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(x => x.CategoriaId)</th>
            <th>@Html.DisplayNameFor(x => x.NomeCategoria)</th>
            <th>@Html.DisplayNameFor(x => x.Descricao)</th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
    <tr>
        <td>@Html.DisplayFor(c => item.CategoriaId)</td>
        <td>@Html.DisplayFor(a => item.NomeCategoria)</td>
        <td>@Html.DisplayFor(b => item.Descricao)</td>
        <td>
            <a class="btn btn-default btn-sm" href="@Url.Action("EditarCategoria", "Categoria", new {item.CategoriaId})"><i class="glyphicon glyphicon-pencil"></i></a>

            <a class="btn btn-danger btn-sm" href="@Url.Action("ExcluirCategoria", "Categoria", new {item.CategoriaId})"><i class="glyphicon glyphicon-trash"></i></a>
        </td>
    </tr>
    }
</table>

